
.card{
  border-radius: 12px;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: transform 0.8s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.cardinnerHeader{
  display: flex;
  justify-content: space-between;
}

.image{
  width: 500px;
  height: 250px;
  object-fit: cover;
  position: relative;
}

.cardinner{
  padding: 1rem;

  .index{
    font-size: 12px;
    color:#888
  }

  .title{
    font-size: 24px;
    font-weight: 700;
  }
}