.contentWrap{
  margin-top: 80px;

}

.imageBox {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;  /* 중앙 정렬 */
  border-radius: 12px;
  overflow: hidden;
}

.heroImg {
  width: 100%;
  height: auto;
  display: block;
}

.title{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap:8px;

}

.info {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.label {
  font-weight: 600;
  color: #333;
}
.techStack {
  margin-bottom: 2rem;
}

.techStack h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.techList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.techTag {
  background: #141414;
  color: #a3e4d8;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.content{
  white-space: pre-line;
  line-height: 1.5;
}

.mainContent{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainItems{
  display: flex;  
  flex-direction: column;
  gap: 12px;
}

.button{
  outline: none;
  border:none;
  background-color: #141414;
  color: #a3e4d8;
  cursor: pointer;
  padding: 0.8rem 1rem;
  border-radius: 8px;
}

.link{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btnWrap{
  display: flex;
  gap: 12px;
}

.func {
  border-left : 4px solid #69a096;
  padding: 1rem;
}

@media (max-width:1024px) {
  .info{
    display:flex;
    flex-direction: column;
    gap:8px;
  }
}

@media (max-width:375px) {
  .btnWrap{
  display: flex;
  gap: 4px;
}
}